
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; outline: 0 none; border: none;color: #fff; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; } 
html{
  color: #000;
  overflow-x: hidden;
  font-size: 10px;
  height: 100%;
  scrollbar-width: thin;
}
img{
  width: 100%;
  height: 100%;
}
/*---滚动条默认显示样式--*/

::-webkit-scrollbar-thumb{
  /* background-color:#FF5E99; */

  background-color:#a1a2a3;
  height:50px;
  
  outline-offset:-2px;
  
  outline:2px solid #fff;
  
  -webkit-border-radius:4px;
  
  border: 2px solid #fff;
  
  }
  
  /*---鼠标点击滚动条显示样式--*/
  
  ::-webkit-scrollbar-thumb:hover{
  background-color:#333;
  
  height:50px;
  
  -webkit-border-radius:4px;
  
  }
  
  /*---滚动条大小--*/
  
  ::-webkit-scrollbar{
  width:9px;
  
  height:9px;
  
  }
  
  /*---滚动框背景样式--*/
  
  ::-webkit-scrollbar-track-piece{
  background-color:#fff;
  
  -webkit-border-radius:0;
  
  }